html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

/* 背景图片容器 - 初始状态不可见 */
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

body > #searchPart {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 520px;
    height: 40%;
    color: white;
    /*background-color: aliceblue;*/
}

.searchType button {
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid white;
    width: 60px;
    height: 30px;
    background-color: white;
    opacity: 0.6;
}

.searchType button[data-select='true'] {
    opacity: 1 !important;
}

.search {
    margin-top: 10px;
}

.search > input[type='text'] {
    width: 500px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid white;
    padding-left: 10px;
}

body > #motto {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 18px;
    z-index: 10;
    opacity: 0.9;
}

#llmPart {
    position: absolute;
    right:16px;
    width: 300px;
    padding: 10px;
    margin: 40px 0px 40px 0;
    height: calc(100% - 102px);
    overflow-y: auto;
    background: white;
    opacity: 0.9;
    color: black;
    border-radius: 10px;
    display: none;
    white-space: pre-line;
}

#llmPart.active {
    display: block;
}

/*左上角的链接*/

#link {
    position: absolute;
    top: 10px;
    left: 20px;
}

#link a {
    margin-right: 10px;
    color: white;
    opacity: 0.9;
    font-size: 14px;
    text-decoration: none; /* 取消下划线 */
}

#link a:hover {
    opacity: 1;
    cursor: pointer;
}

/*左下角的设置*/

#setting {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 100;
}

#setting button {
    opacity: 0.8;
}

/* 搜索建议 */

#search-sug{
    background: white;
    border-radius: 10px;
    margin-top: 5px;
    color: black;
    display: none;
}

#search-sug div{
    height: 24px;
    padding: 10px;
    border-radius: 10px;
}

#search-sug div:hover{
    background: #dddddd;
}